<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank of Net Banking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="header">
        Bank of <span style="color:white; padding-left:7px; padding-right:7px"> NET </span> Banking
        <ul>
            <li valign="middle"><a href="/">Home</a></li>
            <li valign="middle"><a href="/customers"> Customers</a></li>
            <li valign="middle"><a href="/"> Help</a></li>
        </ul>
    </div>
    <br>
    <br>
    <h1>Transaction History</h1>

    <center>
        <table border="0" cellspacing="0">
            <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Transfer Amount</th>
            </tr>
            <% transactions.forEach(function(customer){ %>
                <tr>
                    <td><%= customer.sender %></td>
                    <td><%= customer.receiver %></td>
                    <td><%= customer.tAmount %></td>
                </tr>

            <% }) %>
        </table>
        <br>
        <hr width="49.6%">
        <br>
        <br>
        </center>
        <div class="footer">
            <div class="footer1">Ⓒ COPYRIGHT <span style="font-weight: bold; color: white;">Bank of Net Banking.</div>
            <div class="footer2">
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>  
                <a href="https://www.linkedin.com/in/shubham-sangawat-ba4b661b1/"><i class="fa fa-linkedin"></i></a> 
                <a href="https://www.instagram.com/shubhamr1415/"><i class="fa fa-instagram"></i></a>  
                <a href="https://www.facebook.com/shubham.sangawat"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    

</body>
</html>